<div class="box">
    <div class="container-1 container flex">
        <i class="pi pi-truck" style="font-size: 2.5rem"></i>
        <h3>Entrega em <br><span>todo Brasil</span></h3>
    </div>
    <div class="container-2 container flex">
        <i class="pi pi-credit-card" style="font-size: 2.5rem"></i>
        <h3>Pague em até <br><span>12x no cartão</span></h3>
    </div>
    <div class="container-3 container flex">
        <i class="pi pi-dollar" style="font-size: 2.5rem"></i>
        <h3>Desconto para <br><span>pagamento no PIX</span></h3>
    </div>
    <div class="container-4 container flex">
        <i class="pi pi-whatsapp" style="font-size: 2.5rem"></i>
        <h3>Atendimento <br><span>pelo Whatsapp</span></h3>
    </div>
</div>