.produtos-page{
  display: flex;
  position:relative;
}
.categorias-sidenav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 100%;
  left: 0;
  background-color: #f8f9fa;
  border-right: 1px solid #e9ecef;
  z-index: 1;
}

.produtos-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.produtos-container h1{
  font-weight: 300;
  font-size: 35px;
}

.produto-card{
  padding:20px;

}

.produtos-cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.p-card-title{
  font-size: 1em !important;
  font-weight: bold;
}

 img{
  width: 130px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.produto p{
  text-align: center;
  font-weight: 300;
}

.botao-categorias{
  font-weight: 300;
  font-size: 30px;
}

.margem-basica{
  margin-top: 30px;
}

.perfil{
  display: flex;
  vertical-align: middle  ;
}

.nome-perfil{
  margin-bottom: 30px;
}

  span{
    padding: 15px;
    background-color: #D9D9D9;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
    margin-top: 30px;
    width: 50px;
    justify-content: center;
}

.sidebar {
  width: 60px;
  height: 100%;
  background: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar.expanded {
  width: 250px;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 70px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.profile {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.profile-name {
  margin-left: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 15px 0;
}

.menu a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu a i {
  margin-right: 10px;
}