<div class="card">
    <p-carousel [value]="products" [numVisible]="5" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3">
                    <img src="{{ product.imagemURL || '../../../assets/No-Image-Placeholder.png' }}" [alt]="product.descricao" class="w-6 shadow-2" style="max-height:180px" />
                </div>
                <div>
                    <h4 class="mb-1">{{ product.nome }}</h4>
                    <h6 *ngIf="isLogged" class="mt-0 mb-3" pTooltip="Faça login para visualizar os preços" >{{isLogged ? (product.preco | currency: 'BRL') : 'R$ --,--'  }}</h6>
                    <p-tag [value]="product.category" [style]="{'background': 'var(--preto)'}"></p-tag>
                    <div class="mt-5 flex align-items-center justify-content-center gap-2">
                    <p-button icon="pi pi-search" [rounded]="true" [routerLink]="['/produto', product.id]" [style]="{'backgroundColor': 'var(--cor-01)', 'borderColor': 'var(--branco)', 'icon': '#000'}" />
                    <p-button icon="pi pi-shopping-cart" [rounded]="true" severity="secondary" [style]="{'background': 'var(--preto)', 'borderColor': 'var(--branco)'}" />
                </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
