<div class="box">
    <div class="text">
        <h2>Onde Estamos</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.3174218878!2d-44.04110892601263!3d-19.95314883902732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6be1e5606c447%3A0xd22cb5503d90c74e!2sSpeciale%20Clean!5e0!3m2!1spt-BR!2sbr!4v1719189743908!5m2!1spt-BR!2sbr" width="320" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>   
    </div>
</div>