<div class="card flex justify-content-center">
    <p-button (click)="showDialog()" icon="pi pi-search" label="" ngClass="procurar" [style]="{'backgroundColor':'transparent', 'color':'#222222', 'borderColor':'transparent'}" />
    <p-dialog header="Buscar Produtos" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem'}">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Buscar..." style="height: 35px; margin-top: 15px; margin-bottom: 15px; width:100%" [(ngModel)]="nome"/>
          </p-iconField>
            <button pButton type="button" label="Buscar" icon="pi pi-search" (click)="search()" style="height: 35px; margin-top: 15px; margin-bottom: 15px"></button>
    </p-dialog>
</div>
