<section class="card-inicial">
    <div>
        <div  class="card-inicial-1 shadow-7">
            <h4 >Algum Título</h4>
            <h3>Alguma descrição</h3>
            <div class="botao">
                <p-button label="Vamo que vamo"  [style]="{backgroundColor:'var(--branco)', color:'var(--preto)'}"></p-button>
            </div>
        </div>
    </div>
    <div >
        <div class="card-inicial-1 shadow-7">
            <h4 >Algum Título</h4>
            <h3>Alguma descrição</h3>
            <div class="botao">
                <p-button label="Vamo que vamo" [style]="{backgroundColor:'var(--branco)', color:'var(--preto)'}"></p-button>
            </div>
        </div>
    </div>
</section>