<section class="card-inicial">
    <div class="margem">
        <div class="card flex justify-content-center">
            <a routerLink="/checkout">
                <p-image 
                src="/assets/images/home/6.jpg"
                alt="Image"
                width="300"
                ngClass="imagem"
                 />
            </a>
        </div>
    </div>
    <div class="margem">
        <div class="card flex justify-content-center">
            <a routerLink="/checkout">
                <p-image 
                src="/assets/images/home/5.jpg"
                alt="Image"
                width="300"
                ngClass="imagem"
                 />
            </a>
        </div>
    </div>
    <div class="margem">
        <div class="card flex justify-content-center">
            <a routerLink="/checkout">
                <p-image 
                src="/assets/images/home/4.jpg"
                alt="Image"
                width="300"
                [ngClass]="{'imagem': 'true'}"
                 />
            </a>
        </div>
    </div>
</section>