@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

*{
    font-family: 'Sora', sans-serif;
}

html, body{
    overflow-x: hidden;
    width: 100%;
    margin: 0px;
}

:root{
    --cor-01: #EB1B23; /*Vermelho*/
    --branco: #ffffff; /*Branco*/
    --preto: #000000; /*Preto*/
    --cinza: #a9a9a9; /*Cinza*/
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Spinner*/
.progress-spinner {
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
}

.main-content {
  margin-left: 60px; /* Ajuste conforme necessário */
  padding: 20px;
  transition: margin-left 0.3s;
}

.sidebar.expanded ~ .main-content {
  margin-left: 250px; /* Ajuste conforme necessário */
}

body{
  padding-top: 50px;
}