.card-checkout{
    display: block;
    margin-bottom: 70px;
}

.card-checkout h2{
    text-align: center;
    font-size: 35px;
}

.margin{
    margin-top: 25px;
}

.largura{
    width: 260px;
}

.margin-bottom{
    margin-bottom: 5px;
}

form{
    display: block;
    margin: 0 auto;
    width: 320px;
    padding: 30px;
    border: solid 2px var(--color-01);
    border-radius: 30px;
    background: #000;
}

label{
    color: #ffffff;
}